/* variables  */
:root {
  --background: #f0fff0;
  --theme-color: #8a2be2;
  --dark-color: #0d1717;
  --theme-font: "Madimi One", sans-serif;
}

/* Global Tags  */
* {
  margin: 0;
  padding: 0;
  background: var(--background);
}

/* Nav bar starts here  */
.sk-nav {
  /* color: var(--theme-color); */
  background: transparent;
}
.sk-nav-title {
  color: var(--theme-color);
  font-weight: bold;
  cursor: pointer;
  font-family: "Madimi One", sans-serif;
}
.sk-nav-title h1 {
  font-size: 35px;
}
.sk-nav-menu {
  font-family: "Madimi One", sans-serif;
  color: var(--theme-color);
}
.sk-nav-menu-link {
  text-decoration: none;
  color: var(--theme-color);
}
.sk-nav-mob span {
  color: var(--theme-color);
  font-weight: bold;
  cursor: pointer;
  font-family: "Madimi One", sans-serif;
  font-size: 20px;
}
/* Nav Bar ends here  */

/* Hero header  */
.sk-btn-cv {
  color: var(--theme-color);
  font-weight: bold;
  cursor: pointer;
  font-family: "Madimi One", sans-serif;
}
.sk-hero-img {
  object-fit: contain;
  aspect-ratio: 4/3;
  height: 30rem;
  animation: breth 3s linear infinite;
}
@keyframes breth {
  0% {
    transform: scale(0.95);
  }
  70% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.95);
  }
}
@media only screen and (max-width: 768px) {
  .sk-hero-img {
    height: 20rem;
  }
}
/* Hero header ends  */

/* Footer Starts here  */
.footer-title,
.input {
  color: var(--theme-color);
  font-family: var(--theme-font) !important;
  background: transparent;
}
.link,
.btn-primary {
  color: var(--dark-color) !important;
  font-family: var(--theme-font) !important;
}
.input {
  background-color: var(--background) !important;
}
.btn-primary {
  background-color: var(--theme-color) !important;
  color: var(--background) !important;
}
/* Footer Ends here  */
